$page-background-color-dark: #212e37;
$nav-dark-background-color: #2b3743;
$card-dark-background-color: #2b3743;
$text-dark-mode: white;
$page-background-color-light: white;
$shadow-color-light: #f7f7f7;
