@import "./base.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  .bodyWrap.dark {
    background-color: #212e37;
    color: white;
    .navContainer {
      background-color: #2b3743;
      box-shadow: 0 3px 3px 0 #2b3743;
    }
    .main {
      .card {
        color: white;
        background-color: #2b3743;
      }
      .boxAtas > * * {
        color: white;
        border-color: white;
      }
      .CountryPage {
        .CountryDetailContainer {
          .CountryDetail {
            .borderCountry {
              .labelBorderCountry {
                background-color: #2b3743;
                color: white;
                box-shadow: none;
              }
            }
          }
        }
        .buttonContainer > .backButton {
          background-color: #2b3743;
          color: white;
        }
      }
    }
  }
  .bodyWrap {
    @include displayFlex(column, start, start);
    min-height: 100svh;
    height: 100%;
    .navContainer {
      @include displayFlex(row, space-between);
      background-color: white;
      box-shadow: 0 3px 3px 0 #f7f7f7;
      padding: 1.25rem 1.5rem 1.25rem 1.5rem;
      width: 100%;
      position: fixed;
      z-index: 100;
      .button {
        text-transform: none;
      }
      .button:hover {
        background-color: transparent;
      }
      h4 {
        cursor: pointer;
      }
    }
    .main {
      @include displayFlex(row, center, start);
      flex-grow: 1;
      height: 100%;
      width: 100%;
      padding-top: 5rem;
      .homePageWrap {
        @include displayFlex(column, start, start);
        gap: 2rem;
        width: 100%;
      }
      .CountryPage {
        @include displayFlex(column, start, start);
        width: 100%;
        height: inherit;
        flex-grow: 1;
        .buttonContainer {
          width: 100%;
          padding: 1rem;
          gap: 2rem;
          @include displayFlex(row, start);
          .backButton {
            background-color: white;
            color: black;
            padding: 0.25rem 2rem 0.25rem 2rem;
            text-transform: none;
          }
          .backButton:hover {
            background-color: rgba($color: white, $alpha: 0.6);
          }
        }
        .CountryDetailContainer {
          @include displayFlex(row, space-around, start);
          @include medium {
            @include displayFlex(column);
          }
          width: 100%;
          padding: 2rem;
          box-sizing: border-box;
          .image {
            max-width: 25rem;
          }
          .CountryDetail {
            @include displayFlex(column, space-between, start);
            min-height: 18rem;
            padding: 2rem;
            .textDetailContainer {
              @include displayFlex(row, start, start);
              @include medium {
                @include displayFlex(column, start, start);
              }
              gap: 2rem;
              font-size: small;
            }
            .borderCountry {
              @include displayFlex(row, start);
              gap: 0.25rem;
              flex-wrap: wrap;
              .labelBorderCountry {
                color: black;
                padding: 0.25rem 1rem 0.25rem 1rem;
                box-shadow: 0 3px 3px 2px #f7f7f7;
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}
