@import "./base.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  .bodyWrap.dark {
    background-color: $page-background-color-dark;
    color: $text-dark-mode;
    .navContainer {
      background-color: $nav-dark-background-color;
      box-shadow: 0 3px 3px 0 $nav-dark-background-color;
    }
    .main {
      .card {
        color: $text-dark-mode;
        background-color: $card-dark-background-color;
      }
      .boxAtas > * * {
        color: $text-dark-mode;
        border-color: $text-dark-mode;
      }
      .CountryPage {
        .CountryDetailContainer {
          .CountryDetail {
            .borderCountry {
              .labelBorderCountry {
                background-color: $card-dark-background-color;
                color: $text-dark-mode;
                box-shadow: none;
              }
            }
          }
        }
        .buttonContainer > .backButton {
          background-color: $card-dark-background-color;
          color: $text-dark-mode;
        }
      }
    }
  }
  .bodyWrap {
    @include displayFlex(column, start, start);
    min-height: 100svh;
    height: 100%;
    .navContainer {
      @include displayFlex(row, space-between);
      @include medium {
        .buttonWrap {
          @include displayFlex(column);
          gap: 0.25rem;
        }
      }
      background-color: $page-background-color-light;
      box-shadow: 0 3px 3px 0 $shadow-color-light;
      padding: 1.25rem 1.5rem 1.25rem 1.5rem;
      width: 100%;
      position: fixed;
      z-index: 100;
      .button {
        text-transform: none;
      }
      .button:hover {
        background-color: transparent;
      }
      h4 {
        cursor: pointer;
      }
    }
    .main {
      @include displayFlex(row, center, start);
      flex-grow: 1;
      width: 100%;
      margin-top: 5rem;
      @include medium {
        margin-top: 7rem;
      }
      .homePageWrap {
        @include displayFlex(column, start, start);
        gap: 2rem;
        width: 100%;
        min-height: 60vh;
        padding-bottom: 2rem;
        .boxAtas {
          @include displayFlex(row, space-between, center);
          gap: 1rem;
          width: 100%;
        }
        .delFavButton {
          position: absolute;
          bottom: 1rem;
          right: 1rem;
          background-color: red;
        }
      }
      .CountryPage {
        @include displayFlex(column, start, start);
        width: 100%;
        flex-grow: 1;
        padding-bottom: 2rem;
        .buttonContainer {
          width: 100%;
          padding: 1rem;
          gap: 2rem;
          @include displayFlex(row, start);
          .backButton {
            background-color: $page-background-color-light;
            color: black;
            padding: 0.25rem 2rem 0.25rem 2rem;
            text-transform: none;
          }
          .backButton.IsFav {
            color: red;
          }
          .backButton:hover {
            background-color: rgba(
              $color: $page-background-color-light,
              $alpha: 0.6
            );
          }
        }
        .CountryDetailContainer {
          @include displayFlex(row, space-around, start);
          @include medium {
            @include displayFlex(column);
          }
          width: 100%;
          padding: 2rem;
          box-sizing: border-box;
          .image {
            max-width: 25rem;
          }
          .CountryDetail {
            @include displayFlex(column, space-between, start);
            min-height: 18rem;
            padding: 2rem;
            .textDetailContainer {
              @include displayFlex(row, start, start);
              @include medium {
                @include displayFlex(column, start, start);
              }
              gap: 2rem;
              font-size: small;
            }
            .borderCountry {
              @include displayFlex(row, start);
              gap: 0.25rem;
              flex-wrap: wrap;
              .labelBorderCountry {
                color: black;
                padding: 0.25rem 1rem 0.25rem 1rem;
                box-shadow: 0 3px 3px 2px $shadow-color-light;
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}
